/* Stiluri pentru containerul galeriei */
#galerie-statica {
  padding-left: var(--padding-intern);
  padding-right: var(--padding-intern);
}

/* Stiluri pentru grid-ul galeriei */
#grid-galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.5em;
  column-gap: 0.5em;
  counter-reset: imgnr 0; 
}

/* Incrementare counter pentru fiecare figure */
#grid-galerie figure {
  counter-increment: imgnr; 
}

/* Stilul inițial pentru imagini */
#grid-galerie img {
  filter: sepia(100%);
  transition: filter 800ms; 
}

/* Stilul inițial pentru figcaption */
#grid-galerie figcaption {
  color: initial; 
  text-shadow: none; 
  transition: color 800ms, text-shadow 800ms; 
}

/* Stil pentru imagine la hover */
#grid-galerie img:hover {
  filter: sepia(0%); 
}

/* Stil pentru text și umbra textului la hover */
#grid-galerie figcaption:hover {
  color: #000; 
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

/* Stiluri pentru responsive */
@media screen and (max-width: 800px) {
  #grid-galerie {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  #grid-galerie {
    display: block;
    row-gap: 0;
    column-gap: 0;
  }
}

/* Stil pentru afișarea numerelor romane în figcaption */
#grid-galerie figcaption::before {
  content: counter(imgnr, lower-roman) ") "; 
}
@media screen and (min-width: 800px) {
  #grid-galerie figure:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  
  #grid-galerie figure:nth-child(2) {
    grid-area: 1/2/2/3;
  }
  
  #grid-galerie figure:nth-child(3) {
    grid-area: 2/1/3/2;
  }
  
  #grid-galerie figure:nth-child(4) {
    grid-area: 2/3/3/4;
  }
  
  #grid-galerie figure:nth-child(5) {
    grid-area: 3/2/4/3;
  }
  
  #grid-galerie figure:nth-child(6) {
    grid-area: 3/3/4/4;
  }
  
  #grid-galerie figure:nth-child(7) {
    grid-area: 4/1/5/2;
  }
  
  #grid-galerie figure:nth-child(8) {
    grid-area: 4/3/5/4;
  }
  
  #grid-galerie figure:nth-child(9) {
    grid-area: 5/1/6/2;
  }
  
  #grid-galerie figure:nth-child(10) {
    grid-area: 5/2/6/3;
  }
  
  #grid-galerie figure:nth-child(11) {
    grid-area: 6/1/7/2;
  }
  
  #grid-galerie figure:nth-child(12) {
    grid-area: 6/3/7/4;
  }
  
  #grid-galerie figure:nth-child(13) {
    grid-area: 7/2/8/3;
  }
  
  #grid-galerie figure:nth-child(14) {
    grid-area: 7/3/8/4;
  }
}



