#grid-pagina {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "welcome welcome welcome welcome" "orar orar promotii promotii" "fig1 fig2 promotii promotii" "fig1 fig2 promotii promotii" "galerie galerie galerie galerie";
}
#grid-pagina > *, section {
  outline: 2px solid skyblue;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

#grid-pagina > figure {
  margin: 0;
}



#grid-pagina-2 {
  display: grid;
  margin-top: 10px;
  gap: 10px;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  grid-template-areas: "index-intrebari fig3 anunturi";
}
#grid-pagina-2 > * {
  outline: 2px solid skyblue;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
#grid-pagina-2 > figure {
  margin: 0;
}

html, body {
  font-family: "Madimi One", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: var(--text-mare) !important;
}

.intro-oferta {
  font-size: 1.5rem;
}

@media screen and (max-width: 1150px) {
  html {
    font-size: var(--text-mediu);
  }
  #grid-pagina {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "welcome welcome welcome" "orar promotii promotii" "fig1 promotii promotii" "fig1 promotii promotii" "fig2 promotii promotii";
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: var(--text-mic);
  }
  #grid-pagina, #grid-pagina-2 {
    display: block;
  }
}
#welcome {
  grid-area: welcome;
}

#promotii {
  grid-area: promotii;
}

#anunturi {
  grid-area: anunturi;
}

#orar {
  grid-area: orar;
}

#fig1 {
  grid-area: fig1;
}

#fig2 {
  grid-area: fig2;
}

#fig3 {
  grid-column: span 1.5fr;
  grid-area: fig3;
}

#produse {
  grid-area: produse;
}

#index-intrebari {
  grid-column: span 1.5fr;
  grid-area: index-intrebari;
}