<footer>
    <p id="banner1">Acesta e un proiect scolar<button id="ok_cookies">Accepta cookies</button></p>
    <br>
    <a href="https://www.google.com" target="_blank">Google</a>
    <!--<a href="fisier.pdf">download/</a> -->
    <br>
    <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a>
    <br>
    <!-- formula pentru calculul nivelului de presiune sonoră (SPL) -->
    Formula presiune sonoră
    <br>
    <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>SPL</mi>
        <mo>=</mo>
        <mrow>
            <mn>20</mn>
            <mo>&#8290;</mo>
            <mi>log</mi>
            <mo>&#8289;</mo>
            <mo>(</mo>
            <mfrac>
                <mi>P</mi>
                <mi>P0</mi>
            </mfrac>
            <mo>)</mo>
        </mrow>
    </math>  
    <br>
    <br>
    <address>
        Strada x,nr 4 bucuresti
        <br>
        <a href="mailto:compo.audio@gmail.com">Adresa Email </a>
        <br>
        <i class="fa-solid fa-phone"></i><a href="tel:0767676767">Telefon</a>
    </address>
    <a href="https://maps.app.goo.gl/ojWxkzdVaD35WBEZA" target="_blank">Adresa locație</a>
    <br>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2846.0564068197536!2d26.123623000000002!3d44.493511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDTCsDI5JzM2LjYiTiAyNsKwMDcnMjUuMCJF!5e0!3m2!1sro!2sro!4v1710155300521!5m2!1sro!2sro" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br>
    <a href="https://wa.me/40123456789" target="_blank">WhatsApp</a>
    <br>
    <a href="./resurse/termeni_si_conditii/Termeni_si_conditii.pdf" download>Termeni si conditii</a>
    <br>
    <p><small>Copyright &copy;
        <time datetime="2021-10-18">18 octombrie 2021</time></small>
    </p>
</footer>