body{
    --culoare1: #F097E1;
    --spatiere:80px;
    padding-left:var(--spatiere);
    padding-right:var(--spatiere);
}
p{
    color: grey;
}
h2{
    border:2px solid var(--culoare1);
    border-radius: 5px;
}
a {
    color: white;
}